.cl-effect-1 a:link{
	color: #d32f2f;
	transition: 0.3s color;
 	text-decoration: underline;
}
.cl-effect-1 a:visited {
	color: #388E3C;
	transition: 0.3s color;
 	text-decoration: none;
}
.cl-effect-1 a:visited:hover {
	color: #66BB6A;
 	text-decoration: underline;
}
.cl-effect-1 a:visited:active{
	color: #C8E6C9;
 	text-decoration: underline;
}
.cl-effect-1 a:link:hover{
	color: #ef5350;
}
.cl-effect-1 a:link:active{
	color: #ffcdd2;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}